{
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": false,
  "semi": true,
  "tabWidth": 4,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.json", "*.md", ".prettierrc", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
